<div class="topic-wrapper" style="background-image: url(assets/img/pk-icon.png)">
    <header>
        <h4>{{title}}</h4>
        <p>{{description}}</p>
        <h2 class="text-center"><strong>谁能胜出!?</strong></h2>
        <h4 class="text-center skip-pk">
            <i class="fa fa-random invisible"></i>
            <span>想不好?</span>
            <i class="fa fa-random"></i>
            <span>换一组</span>
            <i class="fa fa-refresh fa-fw fa-spin"></i>
        </h4>
    </header>
    <div class="pk-box">
        <div class="pk-item invisible"></div>
        <div class="pk-item invisible"></div>
    </div>
</div>
