<div class="wellbox">
    <h4>{{title}}</h4>
    <p>{{description}}</p>
    <p class="show">&middot; &middot; &middot;</p>
</div>

{{#candidates}}
<div class="wellbox candidate">
    <div class="avatar" style="background-image:url({{picture}})"></div>
    <div class="content">
	    <p>{{title}}</p>
		<p class="toolbar">
			<span class="score">
    			{{score}}
    		</span>
            <span class="comment">
                <i class="fa fa-comment"></i>
            </span>
			<span class="like-btn">
    			<i class="fa fa-thumbs-up" data-id={{id}}></i>
    		</span>
    	</p>
    </div>
</div>
{{/candidates}}
