#view-home {
    .one-topic {
        padding: 20px;
        width: 100%;
        &.animate {
            @include animation(flip .5s ease-in-out);
            @include backface-visibility(hidden);
        }
    }
    .topic-wrapper {
        > header {
            padding: 10px;
            background: rgba(255, 255, 255, .5);
            min-height: 200px;
        }
        .pk-icon {
            height: 100px;
            @include center-block();
        }
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }
    .pk-box {
        background: rgba(255, 255, 255, .5);
        width: 100%;
        position: relative;
        @include clearfix();
    }
    .pk-item {
        cursor: pointer;
        width: 50%;
        float: left;
        padding-top: 50%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        @include user-select(none);
        .fa {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 50px;
            color: lighten($brand-success, 20%);
            opacity: .9;
            @include transition(all .35s ease-in-out);
        }
        &.win .fa {
            @include scale(1.5);
            color: $brand-success;
            opacity: 1;
        }
        &.fail .fa {
            @include rotate(-180deg);
        }
        border-top: 2px solid #fff;
        &:first-child {
            border-right: 1px solid #fff;
            @include animation(slideinfromleft .5s ease-in-out);
        }
        &:last-child {
            border-left: 1px solid #fff;
            @include animation(slideinfromright .5s ease-in-out);
        }
    }
    .fullscreen {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: #000;
        @include transition(all .35s ease-in-out);
        &.invisible { opacity: 0; }
    }
    .pk-title {
        background: rgba(0, 0, 0, .7);
        color: #FFF;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 5px;
        text-align: center;
        font-size: $font-size-small;
    }
}
