
// Animations
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
       @-moz-keyframes #{$name} { @content; }
         @-o-keyframes #{$name} { @content; }
            @keyframes #{$name} { @content; }
}

@mixin keyframes-transform($name, $from, $to) {
    @-webkit-keyframes #{$name} { from { -webkit-transform: $from; transform: $from; } to { -webkit-transform: $to; transform: $to; } }
       @-moz-keyframes #{$name} { from {    -moz-transform: $from; transform: $from; } to {    -moz-transform: $to; transform: $to; } }
         @-o-keyframes #{$name} { from {      -o-transform: $from; transform: $from; } to {      -o-transform: $to; transform: $to; } }
            @keyframes #{$name} { from {                           transform: $from; } to {                         transform: $to; } }
}

@mixin keyframes-fade($name, $from, $to) {
    @-webkit-keyframes #{$name} { from { opacity: $from; } to { opacity: $to; } }
}

@include keyframes-fade(fadeIn, 0, 100%);
@include keyframes-fade(fadeOut, 100%, 0);

@include keyframes-transform(slideouttoleft, translate3d(0, 0, 0), translate3d(-100%, 0, 0));
@include keyframes-transform(slideinfromright, translate3d(100%, 0, 0), translate3d(0, 0, 0));
@include keyframes-transform(slideouttoright, translate3d(0, 0, 0), translate3d(100%, 0, 0));
@include keyframes-transform(slideinfromleft, translate3d(-100%, 0, 0), translate3d(0, 0, 0));

@include keyframes-transform(slideinfrombottom, translate3d(0, 100%, 0), translate3d(0, 0, 0));
@include keyframes-transform(slideouttobottom, translate3d(0, 0, 0), translate3d(0, 100%, 0));

@include keyframes-transform(scalefromleftbottom, scale(0,0), scale(1,1));
@include keyframes-transform(scaletoleftbottom, scale(1,1), scale(0,0));

@include keyframes-transform(flip, rotateY(0), rotateY(360deg));

// jump
@-webkit-keyframes jump { from { -webkit-transform: scale(1); } 30% { -webkit-transform: scale(1.5); } to { -webkit-transform: scale(1); } }
   @-moz-keyframes jump { from {    -moz-transform: scale(1); } 30% {    -moz-transform: scale(1.5); } to {    -moz-transform: scale(1); } }
     @-o-keyframes jump { from {      -o-transform: scale(1); } 30% {      -o-transform: scale(1.5); } to {      -o-transform: scale(1); } }
        @keyframes jump { from {         transform: scale(1); } 30% {         transform: scale(1.5); } to {         transform: scale(1); } }

@include keyframes(loading-sprite) {
	0% { background-position: 0 0; }
	3.33% { background-position: -50px 0; }
	6.67% { background-position: -100px 0; }
	10% { background-position: -150px 0; }
    13.33% { background-position: -200px 0; }
    16.67% { background-position: -250px 0; }
    20% { background-position: -300px 0; }
    23.33% { background-position: -350px 0; }
    26.67% { background-position: -400px 0; }
    30% { background-position: -450px 0; }
    33.33% { background-position: -500px 0; }
    36.67% { background-position: -550px 0; }
    40% { background-position: -600px 0; }
    43.33% { background-position: -650px 0; }
    46.67% { background-position: -700px 0; }
    50% { background-position: -750px 0; }
    53.33% { background-position: -800px 0; }
    56.67% { background-position: -850px 0; }
    60% { background-position: -900px 0; }
    63.33% { background-position: -950px 0; }
    66.67% { background-position: -1000px 0; }
    70% { background-position: -1050px 0; }
    73.33% { background-position: -1100px 0; }
    76.67% { background-position: -1150px 0; }
    80% { background-position: -1200px 0; }
    83.33% { background-position: -1250px 0; }
    86.67% { background-position: -1300px 0; }
    90% { background-position: -1350px 0; }
    93.33% { background-position: -1400px 0; }
    96.67% { background-position: -1450px 0; }
	100% { background-position: 0 0; }
}
