@-webkit-keyframes like{
    45% {
        -webkit-transform:scale(2);
    }
    90% {
        -webkit-transform:scale(1);
    }
    95% {
        -webkit-transform:scale(1.2);
    }
    100% {
        -webkit-transform:scale(1);
    }
}
#view-ranking {
    .candidate-list{
        &.animate {
            @include animation(flip .5s ease-in-out);
            @include backface-visibility(hidden);
        }
    }
    .wellbox {
        margin: 15px;
        padding: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
        border-radius: 5px;
        position:relative;
        overflow: hidden;
        .show{
            background-color:#F2F2F2;
            border-radius: 5px;
            position:absolute;
            margin:0;
            right:10px;
            bottom:5px;
            width:35px;
            text-align:center;
            height:25px;
            line-height:25px;
        }
        .toolbar{
            position:absolute;
            border-top:1px solid #D9D9D9;
            bottom:0;
            left:0;
            margin:0;
            width:100%;
            height:30px;
            background-color:#F2F2F2;
        }
        .toolbar span{
            width:20%;
            height:30px;
            vertical-align:middle;
            text-align:center;
            display:inline-block;
            @include box-sizing(border-box);
            //border-left:1px solid #D9D9D9;
            color:#aaa;
            padding-top:5px;
        }
        span.score{
            width:55%;
            text-align:center;
        }
        .fa-comment{
            font-size:16px;
            opacity: .9;
        }
        .fa-thumbs-up {
            font-size: 20px;
            opacity: .9;
            @include transition(all .35s ease-in-out);
        }
        .fa-thumbs-up.like{
            color:#2C99F8;
            -webkit-animation-name: like;
            -webkit-animation-fill-mode:forwards;
            -webkit-animation-duration: 500ms;
        }
        .content{
            padding:15px;
            height:100px;
            position:relative;
        }
    }
    .candidate {
        cursor: pointer;
        height: 100px;
        padding:0;
        padding-left: 100px;
        position: relative;
        .avatar {
            position: absolute;
            @include square(100px);
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .fullscreen {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: #000;
        @include transition(opacity .35s ease-in-out);
        &.invisible { opacity: 0; }
    }
}
