@-webkit-keyframes like{
    45% {
        -webkit-transform:scale(2);
    }
    90% {
        -webkit-transform:scale(1);
    }
    95% {
        -webkit-transform:scale(1.2);
    }
    100% {
        -webkit-transform:scale(1);
    }
}
#view-ranking {
    .wellbox {
        margin: 15px;
        padding: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
        border-radius: 5px;
        overflow: hidden;
        &.animate {
            @include animation(flip .5s ease-in-out);
            @include backface-visibility(hidden);
        }
        .fa {
            position: absolute;
            top: 45px;
            right: 16px;
            font-size: 40px;
            color: grey;
            opacity: .9;
            @include transition(all .35s ease-in-out);
        }
        .fa.like{
            color:#2C99F8;
            -webkit-animation-name: like;
            -webkit-animation-fill-mode:forwards;
            -webkit-animation-duration: 500ms;
        }
    }
    .candidate {
        cursor: pointer;
        height: 100px;
        padding-left: 120px;
        position: relative;
        .avatar {
            position: absolute;
            @include square(100px);
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .fullscreen {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: #000;
        @include transition(opacity .35s ease-in-out);
        &.invisible { opacity: 0; }
    }
}
